# Игнорируем .env, чтобы не утекли секретные данные
.env

# Исключаем папку с логами
logs/

# Исключаем кеши и временные файлы
*.log
*.out
*.tmp

# Исключаем данные БД (если не хотим их пушить)
postgres_data/
